{% extends "reporting/base.html" %}
{% block content %}
  <h1>Book List</h1>
  {% if user_list %}
  <ul>
    {% for book in user_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.name }}</a> ({{book.first_name}})
      </li>
    {% endfor %}
  </ul>

    <table>
      <thead>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>
      <tbody>
        <tr>
          <td>Website design</td>
          <td>€34.20</td>
          <td>100</td>
          <td>€3,420.00</td>
        </tr>
        <tr>
          <td>Website development</td>
          <td>€45.50</td>
          <td>100</td>
          <td>€4,550.00</td>
        </tr>
        <tr>
          <td>Website integration</td>
          <td>€25.75</td>
          <td>100</td>
          <td>€2,575.00</td>
        </tr>
      </tbody>
    </table>

    <table id="total">
      <thead>
        <th>Due by</th>
        <th>Account number</th>
        <th>Total due</th>
      </thead>
      <tbody>
        <tr>
          <td>May 10, 2018</td>
          <td>132 456 789 012</td>
          <td>€10,545.00</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
