{% load reporting_extras %}
{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<style>
  ::-webkit-scrollbar {
    display: none;
}
  div {
    min-height: 600px
  }
</style>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {

            
              "title": false,
              "rangeSelector": {
                "enabled": false
              },
              "navigator": {
                "enabled": false
              },
              "scrollbar": {
                "enabled": false
              },
              "credits": {
                "enabled": false
              },
              "legend": {
                "enabled": false
              },
              "exporting": {
                "scale": 1,
                "tableCaption": false,
                "enabled": true
                
              },
              "xAxis": {
                "labels": {
                  "enabled": false
                },
                "gridLineDashStyle": "Solid",
                "gridLineWidth": 1,
                "gridLineColor": "#000000",
                "tickInterval": 1000
              },
              "plotOptions": {
                "series": {
                  "stacking": "normal",
                  "animation":false,
                }
              },
              "yAxis": [
                {
                  "height": "22%",
                  "min": {{ qrs_min }},
                  "max": {{ qrs_max }},
                  "labels": {
                    "enabled": false
                  },
                  "gridLineWidth": 0,
                  "resize": {
                    "enabled": false
                  },
                  "title": {
                    "text": 'QRS',
                    "enabled": true, // Enable title
                    "align": 'low', // Aligns title to top
                    "rotation": 0,   // Keeps text horizontal
                    "x": 50,        // Adjust horizontal position
                    "y": -90,        // Adjust vertical position
                    "style": { "fontSize": "17px", "color": "#333333", "fontWeight": "bold" }
                  }
                },
                {
                  "top": "25%",
                  "height": "22%",
                  "min": 0,
                  "max": 300,
                  "showEmpty": false,
                  "labels": {
                    "enabled": true,
                    "align": "left",
                    "x": 0
                  },
                  "tickPosition": "inside",
                  "gridLineWidth": 1,
                  "gridLineColor": "#000000",
                  "tickInterval": 50,
                  "resize": {
                    "enabled": false
                  },
                  "opposite": false,
                  "offset": 0,
                  "title": {
                    "text": 'HR',
                    "enabled": true, // Enable title
                    "align": 'low', // Aligns title to top
                    "rotation": 0,   // Keeps text horizontal
                    "x": 50,        // Adjust horizontal position
                    "y": -90,        // Adjust vertical position
                    "style": { "fontSize": "17px", "color": "#333333", "fontWeight": "bold" }
                  }
                },
                {
                  "min": {{ impedance_min }},
                  "max": {{ impedance_max }},
                  "top": "50%",
                  "height": "22%",
                  "labels": {
                    "enabled": false
                  },
                  "resize": {
                    "enabled": true
                  },
                  "title": false,
                  "gridLineWidth": 0,
                  "offset": 0,
                  "title": {
                    "text": 'Impedance',
                    "enabled": true, // Enable title
                    "align": 'low', // Aligns title to top
                    "rotation": 0,   // Keeps text horizontal
                    "x": 50,        // Adjust horizontal position
                    "y": -90,        // Adjust vertical position
                    "style": { "fontSize": "17px", "color": "#333333", "fontWeight": "bold" }
                  }
                },
                {
                  "min": 0,
                  "max": 100,
                  "top": "75%",
                  "height": "22%",
                  "tickInterval": 10,
                  "showLastLabel": false,
                  "showFirstLabel": true,
                  "labels": {
                    "enabled": true,
                    "align": "left",
                    "x": 0
                  },
                  "gridLineWidth": 1,
                  "gridLineColor": "#000000",
                  "resize": {
                    "enabled": true
                  },
                  "opposite": false,
                  "offset": 0,
                  "title": {
                    "text": 'RespRate',
                    "enabled": true, // Enable title
                    "align": 'low', // Aligns title to top
                    "rotation": 0,   // Keeps text horizontal
                    "x": 50,        // Adjust horizontal position
                    "y": -90,        // Adjust vertical position
                    "style": { "fontSize": "17px", "color": "#333333", "fontWeight": "bold" }
                  }
                }
                // ,{
                //   "min": 0,
                //   "max": 255,
                //   "top": "96%",
                //   "height": "20%",
                //   "labels": {
                //     "enabled": false
                //   },
                //   "resize": {
                //     "enabled": true
                //   },
                //   "title": false,
                //   "gridLineWidth": 0,
                //   "showLastLabel": false
                // }
                // ,{
                //   "min": 0,
                //   "max": 100,
                //   "top": "85%",
                //   "height": "15%",
                //   "tickInterval": 10,
                //   "showLastLabel": true,
                //   "showFirstLabel": true,
                //   "labels": {
                //     "enabled": true,
                //     "align": "left",
                //     "x": 0
                //   },
                //   "gridLineWidth": 1,
                //   "gridLineColor": "#000000",
                //   "resize": {
                //     "enabled": true
                //   },
                //   "opposite": false,
                //   "title": false
                // }
              ],
              "series": {{ data | safe }}   
        })
  </script>
</body>
</html>