{% load reporting_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User & Contact Report</title>
  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/data.js"></script>

  <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>

  <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
  <script src="https://code.highcharts.com/stock/indicators/bollinger-bands.js"></script>
  <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>

  <script src="https://code.highcharts.com/stock/modules/annotations-advanced.js"></script>

  <script src="https://code.highcharts.com/stock/modules/full-screen.js"></script>
  <script src="https://code.highcharts.com/stock/modules/price-indicator.js"></script>
  <script src="https://code.highcharts.com/stock/modules/stock-tools.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<style>

@charset "UTF-8";
@page {
    size: {{page_size}} {{page_orientation}};
    margin: 1.5cm 1cm;
    @bottom-right{
        content: "Page " counter(page) " of " counter(pages);
    }
}
	html {
		color: #000000;
		font-family: Roboto, sans-serif;
		font-size: {{page_font_size}};
		line-height: 1.6;
	}
	html body {
		margin: 0;

	}
	html h1 {
		font-size: 14pt;
		color: #2c92c8;
		margin: 0;
	}
	html table {
		border-collapse: collapse;
		width: 100%;

	}
	html table th {
		border-bottom: 1px solid #000;
		color: #000000;
		background-color: #2c92c8;
		font-size: 10pt;
		font-weight: 400;
		padding-bottom: .25cm;
		text-transform: uppercase;
	}
	html table td {
		padding-top: 3mm;
	}
	html table th,
	html table td {
		text-align: center;
		vertical-align: top;
	}
	html table th:first-of-type,
	html table td:first-of-type {
		text-align: left;
		padding-left: .25cm;
	}
	html table th:last-of-type,
	html table td:last-of-type {
		text-align: right;
		padding-right: .25cm;
	}
	.main{
	  border: 1px solid #000;
	}
	header
  {
    position        : fixed;
    left           : 0;
    top          : 0;
    margin-top   : -10mm;
    height          : 10mm;
    text-align      : center;
    font-size       : 10px;
    border: 1px solid #000;
    width: 100%;
  }
  header img:not(#logo) {
    position: absolute;
    left: 0;
    top: -5px;
    max-width: 100px;
    padding: 10px;
  }
  #logo{
    position: absolute;
    right: 10px;
    top: -5px;
    max-width: 100px;
    padding: 10px;
  }
	footer
  {
    position        : fixed;
    left           : 0;
    bottom          : 0;
    margin-bottom   : -10mm;
    height          : 10mm;
    text-align      : right;
    font-size       : 10px;
    border: 1px solid #000;
    width: 100%;
  }


</style>
<body>
<header>
    {% comment %} <img src="file:///static/images/logos/synergy_cloud_blue.png" alt="Dental Bee"> {% endcomment %}
  <h1>
    User & Contact Report
  </h1>
  {% if logo %}
    <img id="logo" src="{{logo}}" alt="Account Logo">
    {% endif %}
</header>
<div class="main">
  <table>
  <thead>
  {% for k,v in columns.items %}
  <th>
    {{ k}}
  </th>
  {% endfor %}
  </thead>
  <tbody>
  {% for user in all_user %}
  <tr>
    {% for k,v in columns.items %}
    <td>{{ user|get_item:v|default_if_none:""}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="chart-wrapper">
        <div class="highcharts-popup highcharts-popup-annotations">
            <span class="highcharts-close-popup">&times;</span>
            <div class="highcharts-popup-wrapper">
                <label for="stroke">Color</label>
                <input type="text" name="stroke" />
                <label for="stroke-width">Width</label>
                <input type="text" name="stroke-width" />
            </div>
            <button>Save</button>
        </div>

        <div id="container" class="chart"></div>
    </div>
</div>

<footer>

  <p>Printed Date {% now "DATE_FORMAT" %}</p>

</footer>
</body>

<script>

        function addPopupEvents(chart) {
            var closePopupButtons = document.getElementsByClassName('highcharts-close-popup');
            // Close popup button:
            Highcharts.addEvent(
                closePopupButtons[0],
                'click',
                function () {
                    this.parentNode.style.display = 'none';
                }
            );

            Highcharts.addEvent(
                closePopupButtons[1],
                'click',
                function () {
                    this.parentNode.style.display = 'none';
                }
            );

            // Update an annotaiton from popup
            Highcharts.addEvent(
                document.querySelectorAll('.highcharts-popup-annotations button')[0],
                'click',
                function () {
                    var strokeWidth = parseInt(
                            document.querySelectorAll(
                                '.highcharts-popup-annotations input[name="stroke-width"]'
                            )[0].value,
                            10
                        ),
                        strokeColor = document.querySelectorAll(
                            '.highcharts-popup-annotations input[name="stroke"]'
                        )[0].value;

                    // Stock/advanced annotations have common options under typeOptions
                    if (chart.currentAnnotation.options.typeOptions) {
                        chart.currentAnnotation.update({
                            typeOptions: {
                                lineColor: strokeColor,
                                lineWidth: strokeWidth,
                                line: {
                                    strokeWidth: strokeWidth,
                                    stroke: strokeColor
                                },
                                background: {
                                    strokeWidth: strokeWidth,
                                    stroke: strokeColor
                                },
                                innerBackground: {
                                    strokeWidth: strokeWidth,
                                    stroke: strokeColor
                                },
                                outerBackground: {
                                    strokeWidth: strokeWidth,
                                    stroke: strokeColor
                                },
                                connector: {
                                    strokeWidth: strokeWidth,
                                    stroke: strokeColor
                                }
                            }
                        });
                    } else {
                        // Basic annotations:
                        chart.currentAnnotation.update({
                            shapes: [{
                                'stroke-width': strokeWidth,
                                stroke: strokeColor
                            }],
                            labels: [{
                                borderWidth: strokeWidth,
                                borderColor: strokeColor
                            }]
                        });
                    }
                    chart.stockToolbar.annotationsPopupContainer.style.display = 'none';
                }
            );
        }



        chartdata = []

        for ( var i = 0; i < 22; i++ ) {
            chartdata.push(0);
            chartdata.push(0);
            chartdata.push(0);
            chartdata.push(0);
            chartdata.push(0);
            chartdata.push(-0.25);
            chartdata.push(0.5);
            chartdata.push(-0.25)
        }

        Highcharts.stockChart('container', {
            chart: {
                events: {
                    load: function () {
                        addPopupEvents(this);
                    }
                },
                borderWidth:0.5,
                borderColor:'#000000',
                backgroundColor:'#fff'
            },

            plotOptions: {
                series: {
                    lineWidth: 2,
                    states: {
                        inactive: {
                            opacity: 1,

                        },
                        hover: {
                            //color: "red",
                            opacity: 1,
                            lineWidth: 1,
                        },
                    },
                },
            },

            tooltip: {
                //shared: true,
                crosshairs: true,
                shape: 'square',
                headerShape: 'callout',
                borderWidth: 0,
                shadow: false,
                positioner: function (width, height, point) {
                    var chart = this.chart,
                        position;

                    if (point.isHeader) {
                        position = {
                            x: Math.max(
                                // Left side limit
                                chart.plotLeft,
                                Math.min(
                                    point.plotX + chart.plotLeft - width / 2,
                                    // Right side limit
                                    chart.chartWidth - width - chart.marginRight
                                )
                            ),
                            y: point.plotY
                        };
                    } else {
                        position = {
                            x: point.series.chart.plotLeft,
                            y: point.series.yAxis.top - chart.plotTop
                        };
                    }

                    return position;
                }
            },

            legend: {
                enabled: true
            },

            rangeSelector: {
                inputEnabled:true,
                buttonPosition: {
                },
                buttons: [{
                    type: 'minute',
                    count: 1,
                    text: '1m'
                    }, {
                    type: 'minute',
                    count: 3,
                    text: '3m'
                    }, {
                    type: 'minute',
                    count: 6,
                    text: '6m'
                    }, {
                    type: 'minute',
                    text: '10m'
                    },{
                    type: 'all',
                    text: 'All'
                }],
            },

            navigation: {
                bindings: {
                    thresholds: {
                        className: 'highcharts-threshold-annotation',
                        start: function (event) {
                            var chart = this.chart,
                                x = chart.xAxis[0].toValue(event.chartX),
                                y = chart.yAxis[1].toValue(event.chartY);

                            chart.addAnnotation({
                                labels: [{
                                    point: {
                                    x: x,
                                    y: y,
                                    yAxis: 1,
                                    xAxis: 0
                                    },
                                    text: 'This is my note',
                                }]
                            });
                        }
                    }
                }
            },

            xAxis:{
                gridLineWidth:1,
                labels:{
                    enabled:false
                },
                gridLineDashStyle: 'longdashdot',
            },

            yAxis: [{
                    height: '25%',
                    resize: {
                        enabled: true,
                    },
                    labels: {
                        x:0,
                        enabled: true,
                    },
                    gridLineWidth: 2,
                    minorGridLineWidth: 0,
                    opposite:false,
                    offset: 0,
                    showEmpty: false

                },{
                    showEmpty: false,
                    top: '25%',
                    height: '25%',
                    resize: {
                        enabled: true
                    },
                    labels: {
                        enabled: false,
                        align:'left',
                        x:5,
                        y:-3.2,
                        color:'#000000'
                    },
                    showFirstLabel:true,
                    showLastLabel:true,
                    startOnTick: true,
                    endOnTick: false,
                    tickPositions:[0,300],
                    min: 0,
                    max: 300*1.15,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    opposite:false,
                    plotLines: [{
                        color: 'red', // Color value
                        dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                        value: 100, // Value of where the line will appear
                        width: 1 // Width of the line
                    },
                    {
                        color: 'red', // Color value
                        dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                        value: 250, // Value of where the line will appear
                        width: 1 // Width of the line
                    }],
                },{
                    top: '50%',
                    height: '25%',
                    resize: {
                        enabled: true
                    },
                    labels: {
                        enabled: true,
                        align:'left',
                        x:5,
                        y:-3.2,
                        color:'#000000'
                    },
                    offset: 0,
                    startOnTick: true,
                    endOnTick: false,
                    tickPositions:[0,0.5],
                    min: 0,
                    max: 0.5*1.15,
                    showFirstLabel:true,
                    showLastLabel:true,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    opposite:false
                },{
                    top: '75%',
                    height: '25%',
                    offset: 0,
                    labels: {
                        enabled: false,
                    },
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    opposite:false,
                }],

            navigationBindings: {
                events: {
                    selectButton: function (event) {
                        var newClassName = event.button.className + ' highcharts-active',
                            topButton = event.button.parentNode.parentNode;

                        if (topButton.classList.contains('right')) {
                            newClassName += ' right';
                        }

                        // If this is a button with sub buttons,
                        // change main icon to the current one:
                        if (!topButton.classList.contains('highcharts-menu-wrapper')) {
                            topButton.className = newClassName;
                        }

                        // Store info about active button:
                        this.chart.activeButton = event.button;
                    },
                    deselectButton: function (event) {
                        event.button.parentNode.parentNode.classList.remove('highcharts-active');

                        // Remove info about active button:
                        this.chart.activeButton = null;
                    },
                    showPopup: function (event) {

                        if (!this.indicatorsPopupContainer) {
                            this.indicatorsPopupContainer = document
                                .getElementsByClassName('highcharts-popup-indicators')[0];
                        }

                        if (!this.annotationsPopupContainer) {
                            this.annotationsPopupContainer = document
                                .getElementsByClassName('highcharts-popup-annotations')[0];
                        }

                        if (event.formType === 'indicators') {
                            this.indicatorsPopupContainer.style.display = 'block';
                        } else if (event.formType === 'annotation-toolbar') {
                            // If user is still adding an annotation, don't show popup:
                            if (!this.chart.activeButton) {
                                this.chart.currentAnnotation = event.annotation;
                                this.annotationsPopupContainer.style.display = 'block';
                            }
                        }

                    },
                    closePopup: function () {
                        this.indicatorsPopupContainer.style.display = 'none';
                        this.annotationsPopupContainer.style.display = 'none';
                    }
                }
            },

            stockTools: {
                gui: {
                    enabled: false
                },
                definitions: {
                    thresholds: {
                        className: 'highcharts-threshold-annotation',
                        symbol: 'horizontal-line.svg'
                    }
                }
            },

            series: [
                {
                    type: "line",
                    data: chartdata,
                    marker: {
                        enabled:false
                    },
                    yAxis: 0,
                    name: 'QRS',
                    color: '#ff002f'

                },{
                    type: "line",
                    data: data = [
                        300,300,300,290,280,270,260,250,240,230,220,218,216,214,212,210,208,206,204,202,200,200,200,200,
                        200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,
                        200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,
                        200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,
                        200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,
                        200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,
                        200,200
                    ],
                    marker: {
                        enabled:false
                    },
                    yAxis: 1,
                    name: 'HR',
                    color:'#034d00'

                },{
                    type: "spline",
                    data: [
                        0.3, 0.2,0.3,0.3, 0.2,0.3,0.2,0.3,0.3,0.3,0.3, 0.2,0.2, 0.3, 0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3, 0.2,
                        0.3,0.3,0.3,0.29,0.28,0.27,0.26,0.25,0.24,0.23,0.22,0.218,0.216,0.214,0.212,0.21,0.208,0.206,0.204,0.202,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.3,0.2,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,
                        0.3,0.2,0.2,0.2,0.3, 0.3, 0.2, 0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3,0.2,
                        0.3,0.3, 0.3, 0.2, 0.3,0.1, 0.3, 0.2,0.3, 0.2, 0.3,0.2,0.2,0.4, 0.0,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,
                        0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,
                        0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,0.3, 0.2,0.3, 0.2,0.3, 0.2,0.3,
                        0.2,0.3, 0.2,0.3, 0.2,0.3,0.3,0.2
                    ],
                    marker: {
                        enabled:false
                    },
                    yAxis: 2,
                    name: 'Impedence',
                    color: '#001aff'
                },{
                    type: "spline",
                    data: data = [
                        0.3,0.3,0.3,0.29,0.28,0.27,0.26,0.25,0.24,0.23,0.22,0.218,0.216,0.214,0.212,0.21,0.208,0.206,0.204,0.202,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,
                        0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,
                        0.2,0.2
                    ],
                    marker: {
                        enabled:false
                    },
                    yAxis: 3,
                    name: 'Resp. Rate',
                    color:'#ff002f'
                },
                // {
                // type:'area',
                // name:'band',
                // marker:{enabled:false},
                // lineWidth:0,
                // color:'rgba(156,156,156,.5)',
                // data:[[1.5,0],[1.5,80],[2.25,80],[2.25,0]]

                // }
            ],

            responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 800
                        },
                        chartOptions: {
                            rangeSelector: {
                                inputEnabled: false
                            }
                        }
                    }]
                }
        });
    </script>


</html>
